  body {
  background-color: #fac2c2; 
  color: #000000;            
  text-align: center;      
  padding: 60px;
}
#status, ul, li {
  color: #002D21 !important; 
}

ul {
  list-style: none; 
  padding: 0;
}
    h1 {
      font-size: 48px;            
    }
    button {
      background-color: #021a0f;  /
      color: #ffffff;             
      padding: 10px 30px;         
      font-size: 18px;           
      border: none;               
      border-radius: 12px;       
      margin: 10px;               
    }
.main-btn:hover {
  background-color: #0e9271;
}
.content-container {
  display: flex;         
  align-items: center;   
  justify-content: center; 
  gap: 40px;         
  max-width: 900px;      
  margin: 5px auto;    
  padding: 20px;
}
.content-container {
  display: flex;         
  align-items: center;   
  justify-content: center; 
  gap: 50px;            
  max-width: 1000px;
  margin: 0 auto;
}

.mascot-img {
  max-width: 400px;      
  height: auto;
}

.text-box {
  text-align: left;     
  max-width: 450px;
